# Nextflow pipeline files — treat as Nextflow source for GitHub Linguist
*.config linguist-language=nextflow
*.nf     linguist-language=nextflow

# Mark vendored nf-core modules as generated
modules/**     linguist-generated

# Treat gzip archives as binary files
*.gz            binary
